.login {
    width: 630px;
    height: 406px;
    margin: 0;
    padding: 30px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    .login-input {
        width: 570px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid #d1d1d1;
        padding: 10px;
        margin-bottom: 20px;
    }
    .login-input2{
        width: 15px;
        height: 27px;
        margin-right: 4px;
        padding: 2px;
    }
    .logins {
        font-size: 18px;
        line-height: 27px;
        color: #555555;
    }
    .login-btn {
        width: 570px;
        height: 48px;
        border-radius: 24px;
        padding-top: 10px;
        padding-right: 28px;
        padding-left: 24px;
        padding-bottom: 10px;
        border: none;
        background-color: #FF782D;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .login-btn2 {
        width: 24px;
        height: 24px;
        margin-left: -40px;
        background-color: transparent;
        border: none;
        img {
            margin-bottom: -12px;
        }
    }
}

.register {
    width: 630px;
    height: 448px;
    padding: 30px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    .register-input {
        width: 570px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid #d1d1d1;
        padding: 10px;
        margin-bottom: 20px;
    }
    .register-input2{
        width: 15px;
        height: 27px;
        margin-right: 4px;
        padding: 2px;
    }
    .logins {
        font-size: 18px;
        line-height: 27px;
        color: #555555;
    }
    .register-btn {
        width: 570px;
        height: 48px;
        border-radius: 24px;
        padding-top: 10px;
        padding-right: 28px;
        padding-left: 24px;
        padding-bottom: 10px;
        border: none;
        background-color: #FF782D;
        color: white;
        margin-bottom: 20px;
    }
    .register-btn2 {
        width: 24px;
        height: 24px;
        margin-left: -40px;
        background-color: transparent;
        border: none;
        img {
            margin-bottom: -12px;
        }
    }
}