@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1290px;
    margin: auto;
    /*border: 1px solid red;*/
}